.container {
   padding: 20px 30px;
   /* width: 560px; */
   width: 100%;
   position: relative;
}

.productList {
   margin-top: 20px;
   padding: 0;
}

.productItem {
   margin-bottom: 16px;
   list-style: none;
}
