.cascader {
   position: relative;
}

.cascader .ant-input {
   border: none !important;
   color: #333;
   outline: none;
   background: transparent;
}

.ant-cascader-picker:focus .ant-cascader-input {
   box-shadow: none !important;
}

.cascader .ant-input:focus {
   box-shadow: none;
}

.cascader .ant-input::placeholder {
   color: #fff;
   font-family: "Work Sans", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
}

.cascader .ant-cascader-picker-arrow {
   color: #333;
   top: 60%;
}

.ant-cascader-menu-item {
   font-family: "Work Sans", sans-serif !important;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
}

.ant-cascader-menu-item:hover {
   background: #e6f7ff !important;
}

/* .ant-cascader-picker-label {
   display: none;
} */

.ant-cascader-picker-clear {
   display: none !important;
}
