.formWrapper {
  width: 540px;
  padding: 60px;
}
.container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.imageWrapper {
  /* display: flex;
  flex: 5; */
}
.brandWrapper {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}
.btnSubmit {
  width: 100%;
  background-color: #0064d2 !important;
  color: #fff !important;
}
.socialWrapper {
  display: flex;
  flex-direction: column;
}
