.container {
   padding: 6px 30px;
   width: 100%;
   position: relative;
}

.top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.list {
   padding: 0;
   margin-top: 20px;
}

.item {
   margin-bottom: 16px;
   list-style: none;
}
