.productItemContainer {
   display: flex;
   justify-content: space-between;
   width: 1040px;
   background: #ffffff;
   border: 1px solid #f0f0f0;
   box-sizing: border-box;
   border-radius: 2px;
   padding: 20px;
}

.productItemContainer .info {
   width: 480px;
}

.productItemContainer .infoCenter {
   display: flex;
}

.productItemContainer .infoCenterLeft,
.productItemContainer .infoCenterLeft {
   width: 50%;
}

.productItemContainer .actions {
   width: 240px;
}

.priceWrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 4px;
}

.name {
   margin: 16px 0 8px;
   display: flex;
   flex-direction: column;
}
